/* GERAL */
body :not(p, a, h2, span) {
  color: aqua;
}

h1 {
  margin: 30px 0 25px 0;
  text-align: center;
  color: #9b9b9b;
  text-transform: capitalize;
}

h2 {
  color: #9b9b9b;
  margin: 0;
  padding: 0;
  font-weight: 400;
  margin-bottom: 15px;
}

hr {
  border-color: #9b9b9b;
  width: 100%;
  margin-bottom: 15px;
}

a {
  text-decoration: none;
}

main.container {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

/* HOME */

div.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

article.albums-container {
  max-width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.albums-container a {
  margin: 10px;
}

div.album {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 20px 25px;
  background-color: #414141;
  /* margin: 30px 20px; */
  width: 250px;
  color: rgb(226, 226, 226);
  /* min-height: 200px; */
}

/* PAGINA ALBUM DE PHOTOS (album/id) */
header.album-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button.btn-voltar {
  padding: 0px;
  height: 45px;
  width: 95px;
  background-color: #00FFFF;
  color: rgb(31, 31, 31);
  border: 2px solid #00FFFF;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
}

button.btn-voltar:hover {
  opacity: .8;
}

section.photos-container {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;  
}

/* PAGINA PHOTO INDIVIDUAL */
section.foto-container {
  display: flex;
  justify-content:space-around;
  width: 100%;
  padding: 15px;
}

header.photo-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 30%;
}

h1.photo-title {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: normal;
  text-align: center;
  padding: 15px 0;
}

section.foto-container img {
  /* max-width: 90vh; */
  align-self: center;
}

figcaption {
  text-align: center;
}